
a {
    all: unset;
}

.container {    
    min-height: calc(100vh - ($footer-height + $footer-margin-top));
    max-width: calc($container-max-width + (2 * $container-padding));
    margin: 0 auto;
    padding: 0 $container-padding;

    @include desktop {
        padding: 0 $container-padding-desktop;
    }

    @include tablet {
        padding: 0 $container-padding-tablet;
        min-height: calc(100vh - ($footer-height + $footer-margin-top-tablet));
    }

    @include smartphone {
        min-height: calc(100vh - ($footer-height-smartphone + $footer-margin-top-smartphone));
    }
} 
