// colors

$color-primary: #FF6060;
$lightgrey: #F6F6F6;


// border-radius

$section-radius: 25px;
$card-radius: 10px;


// margins

$card-space: 55px;


// transitions

$duration: 80ms;


// breakpoints

$breakpoints: (
    "desktop": 1199px,
    "tablet": 991px,
    "smartphone": 767px,
    "phone-portrait": 575px
);