// dims

$footer-height: 220px;
$footer-height-smartphone: 140px;
$footer-margin-top: 60px;
$footer-margin-top-tablet: 20px;
$footer-margin-top-smartphone: 5px;

$star-size: 24px;
$star-size-phone: 17px;


// colors

$color-primary: #FF6060;
$lightgrey: #F6F6F6;
$stargrey: #E3E3E3;



// border-radius

$section-radius: 25px;
$card-radius: 10px;
$dropdown-radius: 5px;


// margins

$card-space: 55px;
$card-space-desktop: 40px;
$card-space-tactile: 20px;

$carrousel-chevron-offset: 25px;
$carrousel-chevron-offset-phone: 15px;


// transitions

$duration: 80ms;


// breakpoints

$breakpoints: (
    "desktop": 1239px,
    "tablet": 991px,
    "smartphone": 767px,
    "phone-portrait": 575px
);