.accomodation {
    
    & .infos-wrapper {
        display: flex;

    }

    &__infos {
        margin-top: 30px;
        width: 50%;        
    }

    & .infos-1 {
        color: $color-primary;
        
        & h1 {
            font-size: 36px;
            font-weight: 500;
        }

        & h3 {
            font-size: 18px;
            font-weight: 500;
            margin-top: 5px;
        }

    }

    & .infos-2 {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: space-between;
    }
    
    &__details {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;

        & .dropdown {
            width: 47%;
        }
    }

    
}