

.banner {
    position: relative;

    & img {
        border-radius: $section-radius;
        height: 225px;
        width: 100%;
        object-fit: cover;
        overflow-clip-margin: unset;
        vertical-align: bottom;

        @include tablet {
            border-radius: $card-radius;
        }

        @include smartphone {
            height: 115px;
        }
    }

    & h1 {
        color: white;
        font-size: 48px;
        font-weight: 500;
        letter-spacing: 1px;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.3);
        border-radius: $section-radius;
        padding: 0 90px;
        @include center-content;

        @include tablet {
            border-radius: $card-radius;
            flex-direction: column;
        }
        
        @include smartphone {
            font-size: 24px;
            letter-spacing: 0;
            padding: 0 25px;
            flex-direction: row;
        }
        
        @include phone-portrait {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}
