
.dropdown {
    width: 100%;
    font-size: 24px;
    border-radius: $dropdown-radius;
    margin-bottom: 30px;

    &__title-wrapper {
        background-color: $color-primary;
        color: white;
        border-radius: $dropdown-radius;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        transition: opacity $duration, text-shadox $duration;

        @include hover-light-text(0.3) {
            opacity: 0.95;
        }
        
        & .chevron {
            transition: filter $duration;
        }
        
        &:hover .chevron {
            filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.5));
        }

    }

    & h2 {
        font-weight: 500;
    }

    &__content {
        background-color: $lightgrey;
        color: $color-primary;
        border-radius: $dropdown-radius;
        position: relative;
        top: calc(-2 * $dropdown-radius);
        padding: 45px 20px 20px 30px;
        z-index: -10;
        line-height: 35px;

    }
}