
.rating {
    width: calc(7.5 * $star-size);
    display: flex;
    justify-content: space-between;

    @include smartphone {
        width: calc(7.5 * $star-size-phone);
    }

    & .star {
        font-size: $star-size;

        @include smartphone {
            font-size: $star-size-phone;
        }
    }

    & .full-star {
        color: $color-primary;
    }

    & .empty-star {
        color: $stargrey;
    }
} 