
.rating {
    width: 180px;
    display: flex;
    justify-content: space-between;

    & .star {
        font-size: 24px;
    }

    & .full-star {
        color: $color-primary;
    }

    & .empty-star {
        color: $stargrey;
    }
} 