.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 45px;

    &__logo {
        width: 220px;
        height: 70px;
        transition: opacity $duration;

        @include hover {
            opacity: 0.85;
        }    

    }


}